/* app/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;
input, select, button {
  outline: none;
  font-size: 16px;
}
input:focus, select:focus {
  border: 2px solid #FFD700 !important;
}
label {
  font-weight: bold;
  color: #333;
}
html {
  scrollbar-gutter: stable;
}
body {
  background-color: #111;
  color: #fff;
  overflow-y: scroll;
}
.text-gold { color: #ffd700; }
.bg-gold { background-color: #ffd700; }
